backports.ssl-match-hostname==3.4.0.2
BeautifulSoup==3.2.1
beautifulsoup4==4.4.0
certifi==2015.4.28
decorator==4.0.2
functools32==3.2.3.post2
ipykernel==4.0.3
ipython==4.0.0
ipython-beautifulsoup==0.3
ipython-genutils==0.1.0
Jinja2==2.8
jsonschema==2.5.1
jupyter-client==4.0.0
jupyter-core==4.0.4
MarkupSafe==0.23
mistune==0.7.1
nbconvert==4.0.0
nbformat==4.0.0
notebook==4.0.4
path.py==8.1
pexpect==3.3
pickleshare==0.5
ptyprocess==0.5
Pygments==2.0.2
pymongo==3.0.3
pyzmq==14.7.0
requests==2.7.0
selenium==2.47.1
simplegeneric==0.8.1
terminado==0.5
tornado==4.2.1
traitlets==4.0.0
wheel==0.24.0
